<% include ./partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header"><%=blogPost.title%></div>
        <div class="ui top attached">
            <div class="item">
                <img class="ui centered rounded image" src="<%=blogPost.image%>">
            </div>
            <div class="content">
                <p><em><%=blogPost.created.toDateString()%></em></p>
            </div>
            <div class="description">
                <p><%-blogPost.body%></p>
            </div>
            <a href="/blogs/<%=blogPost._id%>/edit" class="ui blue basic button">Edit</a>
            <form id="delete" action="/blogs/<%=blogPost.id%>?_method=DELETE" method="POST">
                <button class="ui red basic button">Delete</button>
            </form>
        </div>
    </div>
</div>

<% include ./partials/footer %>